body {
    font-family: Arial;
    color: #232323;
    margin: 0 auto;
    font-size: 0.9em;
}

.file {
    border: 1px solid #b8b8b8;
    padding: 8px 5px;
    border-radius: 3px;
    width: 350px;
    margin-top: 3px;
}

.btn {
    border: 1px solid #928ecd;
    padding: 5px 25px;
    border-radius: 3px;
    color: #171919;
    background: #b3aefd;
    margin-bottom: 10px;
}

.img-preview {
    border: 1px solid #0c0b0b;
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}

.container {
    margin: 10px auto;
    width: 550px;
}

.form-container {
	border: #e0dfdf 1px solid;
    padding: 20px;
    border-radius: 2px;
}

.input-row {
    margin-bottom: 16px;
}

#response {
    border-radius: 2px;
    width: 48%;
}

.success {
    color: #31a366;
    display: inline-block;
}

.error {
    color: #dc2626;
    display: inline-block;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
